* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: rgb(20, 20, 43);
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 3rem;
  width: 100%;
}

.navbar {
  grid-template-columns: 1fr;
}

#logo {
  height: 60px;
  margin: 30px;
  margin-bottom: 6px;
  cursor: pointer;
  margin-left: 0px;
}

#subscribe {
  display: block;
  background-color: rgb(53, 52, 52);
  color: burlywood;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  margin: 0px 18px;
  cursor: pointer;
}

#nav-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: start;
  margin: 0px 2.5rem;
  color: rgb(146, 141, 141);
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: #fff;
  transform: scale(1.2);
  transform: rotateY(180deg);
  transition: all 1s ease-in-out;
}

.nav-item .active {
  color: #fff;
}

#account {
  margin-top: 5rem;
}

a {
  color: #fff;
}

.content-section {
  width: 80%;
}

#btn-help {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 12px 36px;
  padding-bottom: 18px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  position: absolute;
  right: 4rem;
  top: 4rem;
  font-weight: 700;
  opacity: 0.5;
}

#btn-help:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 1s ease-in-out;
}

#question-mark {
  height: 22px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

#login-img {
  margin-top: 9rem;
  margin-left: 18rem;
  display: block;
  margin: auto;
  margin-top: 9rem;
}

h3 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}

p {
  color: lightsteelblue;
  text-align: center;
  line-height: 1.5rem;
}

.btn {
  padding: 1rem 5.5rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(to left, rgb(22, 22, 219), rgb(61, 61, 219));
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 1.5rem auto;
}

.btn-sm {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(to left, rgb(22, 22, 219), rgb(61, 61, 219));
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 1.5rem auto;
}

#dropdown {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(174, 163, 163, 0.1);
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 1.5rem auto;
}

#login-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}

i {
  cursor: pointer;
}

#subscribe-header {
  display: flex;
  justify-content: space-between;
}

#left-part {
  display: flex;
}

#close-subscribe-page {
  font-size: 36px;
  margin: 3.5rem;
  cursor: pointer;
}

#subscribe-logo {
  width: 10%;
  height: 50%;
  margin-top: 2rem;
  cursor: pointer;
}

#right-part {
  display: flex;
  gap: 1rem;
  height: fit-content;
  justify-content: space-evenly;
  margin-right: 5rem;
}

#subscribe-section {
  width: 100%;
  display: flex;
}

#left {
  width: 40%;
  height: 100vh;
}

#right {
  width: 60%;
  display: flex;
  height: 100vh;
}

#left-title {
  font-size: 2.2rem;
  margin-left: 4rem;
}

#left-para {
  text-align: start;
  margin-left: 4rem;
  margin-top: 1rem;
  color: orange;
  font-size: 18px;
}

#content h4 {
  font-size: 18px;
  margin-top: 2rem;
}

#content p {
  text-align: start;
  margin-top: 0.3rem;
}

#value-packs {
  display: flex;
  justify-content: center;
}

.packs {
  color: rgb(232, 183, 94);
  font-size: 20px;
}

#mobile,
#super,
#premium {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-left: 2rem;
  text-align: center;
  border: 0.5px solid #7c7777;
  height: 60%;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

#quarterly,
#yearly,
#monthly {
  height: fit-content;
  background-color: transparent;
  color: #fff;
  font-size: larger;
  cursor: pointer;
}

marquee {
  margin: 1rem;
  margin-left: 4rem;
  border-radius: 0.5rem;
  opacity: 0.2;
}

#buy-pack-name {
  padding: 12px 36px;
  background-color: rgba(174, 163, 163, 0.1);
  width: fit-content;
  position: absolute;
  right: 24rem;
  bottom: 4rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  font-weight: bold;
}

#yearly-img,
#monthly-img {
  display: none;
}

#buy-pack {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  position: absolute;
  right: 6rem;
  bottom: -4rem;
}

.card {
  padding: 10px 20px;
  padding-right: 7rem;
  border: 1px solid #fff;
  width: fit-content;
  border-radius: 8px;
}

.pack-name {
  font-size: 24px;
  color: burlywood;
  margin-bottom: 10px;
}

.rupee {
  font-size: 24px;
  font-weight: bold;
}

.small {
  font-size: 14px;
}

#q-img,
#s-img,
#p-img {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}

#btn-lg {
  width: 55.5%;
  background: linear-gradient(to left, rgb(22, 22, 219), rgb(61, 61, 219));
  color: #fff;
  padding: 18px 36px;
  font-size: large;
  border-radius: 8px;
  position: absolute;
  right: 6rem;
  bottom: -9rem;
  font-weight: bold;
  font-size: 20px;
}

#portions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#portion-1,
#portion-2,
#portion-3,
#portion-4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

#input-search {
  padding: 1.2rem 16rem;
  padding-left: 1.5rem;
  background-color: rgba(174, 163, 163, 0.1);
  width: 100%;
  color: #fff;
  border-radius: 12px;
  margin: 2rem 3rem;
}

.input-field {
  padding-left: 0.5rem;
  background-color: transparent;
  font-size: 1.4rem;
  color: #fff;
  padding-right: 38rem;
  width: 90%;
}

#search-section {
  display: flex;
}

/* used chatgpt */
body {
  font-family: Arial, sans-serif;
}

#posters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0rem 3rem;
}

.poster {
  margin: 0.5rem;
  cursor: pointer;
  width: calc(33.33% - 20px); /* Adjust width for 3 columns */
  max-width: 200px; /* Limit width to 200px */
  height: 240px; /* Set height to 200px */
  border-radius: 8px;
}

.poster:hover {
  transform: scale(1.5) translateX(30px);
  transition: all 2s ease-in-out;
}

/* Category section */
#category-section,
#home-section,
#movies-section,
#search-section,
#sports-section,
#tv-section {
  display: flex;
}

#category-right {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

#category-header {
  display: flex;
  justify-content: space-evenly;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  margin: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
  height: 120px;
  width: 225px;
}

.category-card:hover {
  transform: scale(1.2);
  border: 0.5px solid lightskyblue;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.category-body {
  display: flex;
  margin-top: 2rem;
  margin: 2rem auto;
  margin-bottom: 1rem;
  font-size: 20px;
  border-radius: 4px;
}

.category-body p {
  color: #fff;
  margin-top: 0.6rem;
}

#sports-section {
  display: flex;
}

#sports-header {
  display: flex;
  height: fit-content;
}

#sports-header-img {
  margin: 15px;
  cursor: pointer;
  border-radius: 8px;
}

#sports-header-logo {
  margin: 0.5rem;
  margin-top: 3rem;
}

#ad {
  background-color: burlywood;
  color: rgb(99, 30, 30);
  font-weight: 600;
  padding: 3px;
  border-radius: 4px;
  margin-right: 10px;
  position: absolute;
  top: 55px;
}

.know-more-btn {
  padding: 16px 60px;
  background-color: rgba(80, 80, 80, 0.3);
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 6rem;
  margin-left: 1rem;
  cursor: pointer;
}
