@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Kelly Slab", sans-serif;
  border: none;
  outline: none;
  letter-spacing: 2px;
  transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}

h1{
  text-align: center;
}

.container{
  width: 600px;
  background-color: lightskyblue;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 12px;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

#input{
  margin: 20px 0px;
  padding: 12px 18px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  color: #000;
}

#input:hover{
  background-color: #111;
  color: #fff;
}

#add-btn{
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

#add-btn:hover{
  background-color: #000;
  color: #fff;
}

ul li{
  margin: 10px 0px;
  padding:10px;
  padding-right: 70px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  position: relative;
  word-wrap: break-word;;
}

ul li span{
  position: absolute;
  right:10px;
  top: 0px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 8px;
}

ul li strong{
  position: absolute;
  right:50px;
  top: 8px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.checked{
  text-decoration: line-through;
}


@media screen and (max-width:600px) {
  .container{
    width: 90%;
  }
  #input{
    margin: 10px 0px;
    padding: 8px 16px;
  }
  #add-btn{
    padding: 8px 16px;
  }
  ul li{
    padding: 6px;
    padding-left: 12px;
    font-size: 18px;
  }
  ul li span{
    font-size: 32px;
  }
  ul li strong{
    font-size: 16px;
    right: 34px;
    top: 6px;
  }
}